.icon-left {
    position: absolute;
    top: 60px;
    left:60px;
}

.icon-right {
    position: absolute;
    bottom:60px;
    right:60px; 
}

.summer {
    background-color: lightyellow;
}

.winter {
    background-color: aliceblue;
}

.summer i {
    color: rgb(225, 169, 65);
    background-color: lightyellow;
}

.winter i {
    color: steelblue;
    background-color: aliceblue;
}

.summer h1 {
    color: red;
}

.winter h1 {
    color: mediumblue;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}